@model CpEditorial.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>
    <link href="~/Content/site.css" rel="stylesheet">

</head>
<body>
    @*NavBer*@
    @{
        Html.RenderPartial("NavigationBar");
    }

    @*Login from section*@
    <section class="contact-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Login Form Area -->
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="contact-form form-group">
                        <h4 style="text-align:center;">Login</h4>
                        <!-- Login Form -->
                        @using (Html.BeginForm("VerifyUser", "Register"))
                        {
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="group">
                                        <label for="email">Email</label>
                                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @required = true, @type = "email" })
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="group">
                                        <label for="password">Password</label>
                                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", @required = true, @type = "password" })
                                    </div>
                                </div>

                                <div class="col-12" style="text-align:center;">
                                    <button type="submit" class="btn world-btn">Login</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    @*Footer*@
    @{
        Html.RenderPartial("Footer");
    }

    @if (ViewBag.Error != null)
    {
        <script>
            alert("@ViewBag.Error");
        </script>
    }

</body>
</html>

