
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign in</title>


</head>
<body>
    @*NavBer*@
    @{
        Html.RenderPartial("NavigationBar");
    }

    @*Signup from section*@
    <section class="contact-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Signup Form Area -->
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="contact-form form-group">
                        <h4 style="text-align:center;">Sign Up</h4>
                        <!-- Signup Form -->
                        @using (Html.BeginForm("AddContact", "Home"))
                        {
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="group">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="group">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="group">
                                        <label for="cpassword">Confirm Password</label>
                                        <input type="password" name="cpassword" id="cpassword" required>
                                    </div>
                                </div>

                                <div class="col-12" style="text-align:center;">
                                    <button type="submit" class="btn world-btn">Sign Up</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    @*Footer*@
    @{
        Html.RenderPartial("Footer");
    }
</body>
</html>

