
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign in</title>


</head>
<body>
    @*NavBer*@
    @{
        Html.RenderPartial("NavigationBar");
    }

    <div class="mainSignUp">
        <p class="sign" align="center">Sign Up</p>
        <form class="form1">
            <input class="un" type="text" align="center" placeholder="Name">
            <input class="un" type="email" align="center" placeholder="Email address">
            <input class="un" type="password" align="center" placeholder="Password">
            <input class="un" type="password" align="center" placeholder="Confirm Password">
            <a class="submit" align="center">Sign Up</a>
        </form>

    </div>

    @*Footer*@
    @{
        Html.RenderPartial("Footer");
    }
</body>
</html>

