
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post an item</title>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">

</head>
<body>
    <div class="container"> 
        <div class="col-md-3">
            Add the left column here
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="rephrase-quesiton">Please rephrase the question (optional)</label>
                    <textarea class="form-control input-lg" rows="5" id="rephrased_question"></textarea>
                </div>
                <div class="form-group">
                    <label for="quick-explanaiton">Provide a quick explanation of the solution (mendatory)</label>
                    <textarea class="form-control input-lg" rows="5" id="quick_explanation"></textarea>
                </div>
                <div class="form-group">
                    <label for="detailed-explanation">Provide more details of your explanation (optional)</label>
                    <textarea class="form-control input-lg" rows="5" id="detailed_explanation"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
