@model CpEditorial.Models.ContactModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    @*NavBer*@
    @{
        Html.RenderPartial("NavigationBar");
    }

    @*Contact from section*@
    <section class="contact-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Contact Form Area -->
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="contact-form form-group">
                        <h5>Get in Touch</h5>
                        <!-- Contact Form -->
                        @using (Html.BeginForm("AddContact", "Home"))
                        {
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <label for="name">Enter your name</label>
                                        @*<input type="text" name="name" id="name" required>*@
                                        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <label for="email">Enter your email</label>
                                        @*<input type="email" name="email" id="email" required>*@
                                        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group">
                                        <label for="message">Enter your message</label>
                                        @*<textarea name="message" id="message" required></textarea>*@
                                        @Html.TextBoxFor(m => m.message, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn world-btn">Send Message</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*Footer*@
    @{
        Html.RenderPartial("Footer");
    }
</body>
</html>
