
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>CP-Editorial</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
</head>
<body>

    @{
        Html.RenderPartial("NavigationBar");
    }

    @*Banner Image*@
    <img src="~/Image/cover/test.png" style="width:auto; height:auto;" />

    <div class="container-fluid" style="margin-top:50px; margin-bottom:50px;">
        <div class="row">
            <div class="col-md-3">
                <p>Keep it blank for now</p>
            </div>
            <div class="col-md-6">
                <p>
                    Editorials should appear here.
                    This is the place where editorials will show up. However, only the title
                    and first few line of each editorial will show up here.
                </p>
            </div>
            <div class="col-md-3">
                <p>Place for advertisements</p>
            </div>
        </div>
    </div>

    @*Footer*@
    @{
        Html.RenderPartial("Footer");
    }

</body>
</html>
